*.zip
ContinuumMechanics/Physics of Continuous Matter, Second Edition _ Exotic and Everyday Phenomena in the Macroscopic World ( PDFDrive ).pdf
ComputationalAstrophysics/Bodenheimer, Peter_ Laughlin, Gregory P._ Rozyczka, Michal_ Yorke, Harold W. - Numerical Methods in Astrophysics_ An Introduction-Taylor & Francis (2007).pdf
bb2023w.pdf
Complex Physics/complex_physics-september12.pdf
Scientific Computing/Scientific Computing_ An Introductory Survey.pdf
Thesis/StasVideos/*