*.zip
ContinuumMechanics/Physics of Continuous Matter, Second Edition _ Exotic and Everyday Phenomena in the Macroscopic World ( PDFDrive ).pdf
bb2023w.pdf
Scientific Computing/[Classics in Applied Mathematics] Michael T. Heath - Scientific Computing_ An Introductory Survey.pdf